.inspirebox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(80, 137, 177, 0.401);
    max-width: 300px;
    z-index: 9999;
}

.inspirebox p {
    font-size: 16px;
    margin: 0;
    color: #333;
    text-align: center;
}